table.results {
  border: 1px solid black;
  border-collapse: collapse;
  border-padding: 1ex;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

table.results > tbody th {
  border: 1px solid #8888aa; 
  text-align: center;
  font-weight: bold;
}

table.results > tbody td {
  border: 1px solid #8888aa; 
  background-color: #f7f8ff;
  padding: 0.5ex;
  font-family: courier,monospace;
}

div.query {
  white-space: pre;
  border: 1px solid #8888aa; 
  font-family: courier,monospace;
  background-color: #f7f8ff;
  padding: 5px;
  font-size: 88%; 
  margin-top: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  color: black;
} 

div.approval {
  font-weight: bold;
}
