
.example-custom-width {
  width: 86%;
  display: inline-block;
}
.spinnerAsk{
  width: 80%;
  display: inline-block;
}
.custom-width {
  width: 76%;
  /*display: inline-block;*/
  display: none;
}

.chat_input {
  margin-top: 10%;
}

.firstMargin {
  margin: 10% auto auto auto !important;
}

.wrapper {
  margin: auto;
  width: 55%;
  justify-content: center;
  align-items: center;
}

.wrapperFinal {
  margin: 1% auto;
  width: 55%;
}

.send_button {
  margin: 10px 2% 0 2%;
  width: 10%;
  float: right;
  height: 45px;
}

.run_button {
  width: 25%;
  height: 45px;
  margin: 0 auto;
  display: block;
}

.custom-width-height {
  width: 100%;
  margin: auto;
  display: table;
}

.run_query {
  width: 40%;
  margin: auto auto 5% auto;
}


/*spinner*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body { margin-top: 100px; background-color: #137b85; color: #fff; text-align:center; }

h1 {
  font: 2em 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;

}
.loadingAsk{
  margin: 3px 40px 0 0;
  float: right;
}

.loadingPallet{
  margin-left: 45px;
  margin-top: -13px;
  float: left;
}

.loadingRDFLib{
  margin-right: 45px;
  margin-top: -13px;
  float: right;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
