<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Ask a question">
    <form class="wrapper firstMargin">
      <mat-form-field appearance="outline" class="example-custom-width" floatPlaceholder="alw">
        <input matInput placeholder="Type your question" value="" name="question" [(ngModel)]="question">
      </mat-form-field>
      <div *ngIf="loadingSpinnerAsk" class="loading loadingAsk"></div>
      <button  *ngIf="!loadingSpinnerAsk" type='button' matSuffix mat-raised-button color="primary" class="send_button" [disabled]='question.length == 0' (click)="translate()">Ask
      </button>
<!--      <mat-card class="custom-width">-->
<!--        <mat-card-content>-->
<!--          <p>This is the Answer {{response}}</p>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
    </form>
    <form class="wrapper">
      <mat-form-field appearance="outline" class="custom-width-height" floatLabel="always">
<!--        <textarea matInput type="text" rows="15" placeholder="Write your query" #textAreaQuery>{{response}}</textarea>-->
        <textarea matInput type="text" rows="15" placeholder="Write your query" #textAreaQuery [(ngModel)]="response" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>


      <div class="run_query">
        <div style="float: left;">
          <div *ngIf="loadingSpinnerPellet" class="loading loadingPallet"></div>
          <button *ngIf="!loadingSpinnerPellet" type='button' mat-raised-button color="primary" class=""  [disabled]='loadingSpinnerRDFLib || response.length == 0 && textAreaQuery.value.length == 0' (click)="runQueryPellet(textAreaQuery.value)">Run
            with Pellet
          </button>
        </div>
        <div style="float: right;">
          <div *ngIf="loadingSpinnerRDFLib" class="loading loadingRDFLib"></div>
          <button *ngIf="!loadingSpinnerRDFLib" type='button' mat-raised-button color="primary" class="" [disabled]='loadingSpinnerPellet || response.length == 0 && textAreaQuery.value.length == 0' (click)="runQueryRDF(textAreaQuery.value)">
            Run with RDFlib
          </button>
        </div>
      </div>
    </form>
    <form class="wrapperFinal">
      <mat-form-field appearance="outline" class="custom-width-height" floatLabel="always">
        <textarea matInput [readonly]="true" rows="5" placeholder="Answer area" [(ngModel)]="sparqlQueryResponse" [ngModelOptions]="{standalone: true}"></textarea>
      </mat-form-field>
    </form>

  </mat-tab>
  <mat-tab label="Ontology details">
    <div class="wrapper">
      <app-ontology-details-component></app-ontology-details-component>
    </div>
  </mat-tab>
  <!--  <mat-tab label="About"> Content 3 </mat-tab>-->
</mat-tab-group>
