
.buttons {
  float: left;
  width: 96%;
  padding: 0 2%;
  margin-top: 5%;
}

.buttons > button {
  width: 28%;
}

.btn1 {
  margin: 3% 4% 3% 0;
}

.btn2 {
  margin: 3% 4%;
}

.btn3 {
  margin: 3% 0 3% 4%;
}

.textArea {
  width: 100%;
  float: left;
  clear: left;
}

.textArea > mat-form-field {
  margin: 2%;
  width: 96%;
}
