<div class="buttons">
  <button type='button' mat-raised-button color="primary" class="btn1" (click)="getIndividuals()">Individuals</button>
  <button type='button' mat-raised-button color="primary" class="btn2" (click)="getClasses()">Classes</button>
  <button type='button' mat-raised-button color="primary" class="btn3" (click)="getProperties()">Properties</button>
</div>
<div class="textArea">
  <mat-form-field appearance="outline" class="" floatLabel="always">
    <textarea matInput [readonly]="true" type="text" rows="15" placeholder="Leave a comment" >{{response}}</textarea>
  </mat-form-field>
</div>
